# Original MicroProse demo files: copyrighted, kept locally only.
# Verify integrity with: sha256sum -c gamefiles.sha256 (run from gamefiles/)
/gamefiles/

# Build/extraction output
/build/
/out/
__pycache__/
*.pyc

# Full game (copyrighted, kept locally only). Verify: cd fullgame && sha256sum -c ../fullgame.sha256
/fullgame/
/f19stealthfighter.zip
